{% extends 'base.html' %} {% block content %} {% include 'navbar.html' %} 
{% load crispy_forms_tags %}
<div class="container mt-3 border " style="font-size:14px">
  <div class="data-header"><h3>
    Insight Data input
  </h3></div>
    <form action="" method="post" autocomplete="off">
      {% csrf_token %} 
      <div class="row mx-5">
        <div class="col-xl-4 col-md-10">{{form.area|as_crispy_field}}</div>
         <div class="col-xl-4 col-md-10">{{form.line|as_crispy_field}}</div>
          <div class="col-xl-4 col-md-10">{{form.line_speed|as_crispy_field}}</div>
         
      </div>
       <div class="row mx-5">
          <div class="col-xl-4 col-md-10">{{form.shift_type|as_crispy_field}}</div>
         <div class="col-xl-4 col-md-10">{{form.line_manager|as_crispy_field}}</div>
          <div class="col-xl-4 col-md-10">{{form.team_leader|as_crispy_field}}</div>

       </div>
        <div class="row mx-5">
        <div class="col-xl-4 col-md-10">{{form.data_operator|as_crispy_field}}</div>
         <div class="col-xl-4 col-md-10">{{form.time_period|as_crispy_field}}</div>
          <div class="col-xl-4 col-md-10">{{form.product_type|as_crispy_field}}</div>
          
       </div>
         <div class="row mx-5">
        <div class="col-xl-3 col-md-10">{{form.production_team|as_crispy_field}}</div>
         <div class="col-xl-3 col-md-10">{{form.last_counter_reading|as_crispy_field}}</div>
         <div class="col-xl-3 col-md-10">{{form.new_counter_reading|as_crispy_field}}</div>
          <div class="col-xl-3 col-md-10">{{form.bbt_no|as_crispy_field}}</div>
       </div>

  <button type="submit" class="btn btn-primary mt-3 mb-3 mx-5" style="width: 90%;">Submit</button>
       </div>

    </form>
  </div>
</div>
{% endblock content %}
